<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<title>vuejs-startup</title>
		<link rel="stylesheet" href="./style.css" />
	</head>
	<body>
		<div id="app-1" class="section">
			{{ message }}
		</div>

		<div id="app-2" class="section">
			<span v-bind:title="message">
				Hover your mouse over me for a few seconds
				to see my dynamically bound title!
			</span>
		</div>

		<div id="app-3" class="section">
			<span v-if="seen">Now you see me</span>
		</div>

		<div id="app-4" class="section">
			<ol>
				<li v-for="todo in todos">
					{{ todo.text }}
				</li>
			</ol>
		</div>

		<div id="app-5" class="section">
			<p>{{ message }}</p>
			<button v-on:click="reverseMessage">Reverse Message</button>
		</div>

		<div id="app-6" class="section">
			<p>{{ message }}</p>
			<input v-model="message" />
		</div>

		<div id="app-7" class="section">
			<ol>
				<todo-item
					v-for="item in groceryList"
					v-bind:todo="item"
					v-bind:key="item.id"
				></todo-item>
			</ol>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
		<script src="./script.js"></script>
	</body>
</html>
